# Logs
logs/
*.log
npm-debug.log*

# Dependencies
node_modules/

# package-lock.json for the examples
package-lock.json
!/package-lock.json

# Node files
npm-debug.log
yarn-error.log
.env

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Coverage
coverage/

# VS Code
.vscode/
!.vscode/tasks.js

# JetBrains IDEs
.idea/
/*.iml

# Misc
.DS_Store
Thumbs.db

# Dgraph

*/data/*
t
tmp
